<div>
    <h2 id="page-heading">
        <span jhiTranslate="csrappApp.ticket.home.title">Tickets</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ticket" [routerLink]="['/ticket/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="csrappApp.ticket.home.createLabel">
            Create a new Ticket
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'csrappApp.ticket.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="tickets?.length === 0">
        <span jhiTranslate="csrappApp.ticket.home.notFound">No tickets found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tickets && tickets.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="csrappApp.ticket.rbr">Rbr</span></th>
                    <th scope="col" ><span jhiTranslate="csrappApp.ticket.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="csrappApp.ticket.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="csrappApp.ticket.category">Category</span></th>
                    <th scope="col" ><span jhiTranslate="csrappApp.ticket.priority">Priority</span></th>
                    <th scope="col" ><span jhiTranslate="csrappApp.ticket.users">Users</span></th>
                    <th scope="col" ><span jhiTranslate="csrappApp.ticket.project">Project</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets ;trackBy: trackId">
                    <td><a [routerLink]="['/ticket', ticket.id, 'view']">{{ ticket.id }}</a></td>
                    <td>{{ ticket.rbr }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>
                        <div *ngIf="ticket.statusId">
                            <a [routerLink]="['/ticket-status', ticket.statusId , 'view']" >{{ ticket.statusName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="ticket.categoryId">
                            <a [routerLink]="['/category', ticket.categoryId , 'view']" >{{ ticket.categoryName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="ticket.priorityId">
                            <a [routerLink]="['/priority', ticket.priorityId , 'view']" >{{ ticket.priorityName }}</a>
                        </div>
                    </td>
                    <td>
                        <span *ngFor="let users of ticket.users; let last = last">
                            <a class="form-control-static" [routerLink]="['/hd-user', users?.id, 'view']">{{ users.email }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <div *ngIf="ticket.projectId">
                            <a [routerLink]="['/project', ticket.projectId , 'view']" >{{ ticket.projectName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ticket', ticket.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ticket', ticket.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ticket)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
