<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ticket">
            <h2><span jhiTranslate="csrappApp.ticket.detail.title">Ticket</span> {{ ticket.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="csrappApp.ticket.rbr">Rbr</span></dt>
                <dd>
                    <span>{{ ticket.rbr }}</span>
                </dd>
                <dt><span jhiTranslate="csrappApp.ticket.description">Description</span></dt>
                <dd>
                    <span>{{ ticket.description }}</span>
                </dd>
                <dt><span jhiTranslate="csrappApp.ticket.status">Status</span></dt>
                <dd>
                    <div *ngIf="ticket.statusId">
                        <a [routerLink]="['/ticket-status', ticket.statusId, 'view']">{{ ticket.statusName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="csrappApp.ticket.category">Category</span></dt>
                <dd>
                    <div *ngIf="ticket.categoryId">
                        <a [routerLink]="['/category', ticket.categoryId, 'view']">{{ ticket.categoryName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="csrappApp.ticket.priority">Priority</span></dt>
                <dd>
                    <div *ngIf="ticket.priorityId">
                        <a [routerLink]="['/priority', ticket.priorityId, 'view']">{{ ticket.priorityName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="csrappApp.ticket.users">Users</span></dt>
                <dd>
                    <span *ngFor="let users of ticket.users; let last = last">
                        <a [routerLink]="['/hd-user', users?.id, 'view']">{{ users.email }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="csrappApp.ticket.project">Project</span></dt>
                <dd>
                    <div *ngIf="ticket.projectId">
                        <a [routerLink]="['/project', ticket.projectId, 'view']">{{ ticket.projectName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ticket', ticket.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
