<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-attachment-heading" jhiTranslate="csrappApp.attachment.home.createOrEditLabel">Create or edit a Attachment</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="csrappApp.attachment.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="csrappApp.attachment.extension" for="field_extension">Extension</label>
                    <select class="form-control" name="extension" formControlName="extension" id="field_extension">
                        <option value="PDF">{{ 'csrappApp.Extension.PDF' | translate }}</option>
                        <option value="XLS">{{ 'csrappApp.Extension.XLS' | translate }}</option>
                        <option value="DOC">{{ 'csrappApp.Extension.DOC' | translate }}</option>
                        <option value="JPG">{{ 'csrappApp.Extension.JPG' | translate }}</option>
                        <option value="PNG">{{ 'csrappApp.Extension.PNG' | translate }}</option>
                        <option value="OTHER">{{ 'csrappApp.Extension.OTHER' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="csrappApp.attachment.file" for="field_file">File</label>
                    <div>
                        <div *ngIf="editForm.get('file')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('fileContentType')!.value, editForm.get('file')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('fileContentType')!.value }}, {{ byteSize(editForm.get('file')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({file: null});editForm.patchValue({fileContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_file" (change)="setFileData($event, 'file', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="file" id="field_file"
                           formControlName="file"/>
                    <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                           formControlName="fileContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="csrappApp.attachment.ticket" for="field_ticket">Ticket</label>
                    <select class="form-control" id="field_ticket" name="ticket" formControlName="ticketId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ticketOption.id" *ngFor="let ticketOption of tickets; trackBy: trackById">{{ ticketOption.description }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
