<div>
    <h2 id="page-heading">
        <span jhiTranslate="csrappApp.attachment.home.title">Attachments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attachment" [routerLink]="['/attachment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="csrappApp.attachment.home.createLabel">
            Create a new Attachment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'csrappApp.attachment.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="attachments?.length === 0">
        <span jhiTranslate="csrappApp.attachment.home.notFound">No attachments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attachments && attachments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="csrappApp.attachment.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="csrappApp.attachment.extension">Extension</span></th>
                    <th scope="col" ><span jhiTranslate="csrappApp.attachment.file">File</span></th>
                    <th scope="col" ><span jhiTranslate="csrappApp.attachment.ticket">Ticket</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attachment of attachments ;trackBy: trackId">
                    <td><a [routerLink]="['/attachment', attachment.id, 'view']">{{ attachment.id }}</a></td>
                    <td>{{ attachment.name }}</td>
                    <td jhiTranslate="{{ 'csrappApp.Extension.' + attachment.extension }}">{{ attachment.extension }}</td>
                    <td>
                        <a *ngIf="attachment.file" (click)="openFile(attachment.fileContentType, attachment.file)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="attachment.file">{{ attachment.fileContentType }}, {{ byteSize(attachment.file) }}</span>
                    </td>
                    <td>
                        <div *ngIf="attachment.ticketId">
                            <a [routerLink]="['/ticket', attachment.ticketId , 'view']" >{{ attachment.ticketDescription }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/attachment', attachment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/attachment', attachment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(attachment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
